<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
	<link
	rel="icon" href="data:image/svg+xml,...">

	{% block stylesheets %}
		<link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/solar/bootstrap.min.css" rel="stylesheet">
	{% endblock %}

	{% block javascripts %}
		{% block importmap %}
			{{ importmap('app') }}
		{% endblock %}
	{% endblock %}

	{# On ne garde dans le IF que ce qui est purement lié à FrankenPHP #}
	{% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
	{% if frankenphpHotReload %}
		<meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
		<script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
		<script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
	{% endif %}
</head>

	<body>
		<header>
			{% include "partials/_header.html.twig" %}</header>


		{% block body %}{% endblock %}
	</body>
</html>
